@model List<UserRoleViewModel>
@{
    ViewData["Title"] = "EditUsersInRoles";
}

<h1>EditUsersInRoles</h1>
@{
    var RoleID = ViewBag.RoleId;
}

<form method="post">
    
    <div class="card">
        
        <div class="card-header">
            <h3>Add and Remove Users For this Role</h3>
        </div>
        
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label>@Model[i].UserName</label>
                </div>    
            }

        </div>
        
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a type="submit" class="btn btn-primary" asp-action="EditUsersInRoles" asp-controller="Rolemanag" asp-route-RoleId="@RoleID">Cancel</a>
        </div>

    </div>

</form>
